{% extends 'base.twig' %}


{% block main %}
    <section>
        <h2>Liste d'artiste disponible :</h2>
        <div class="artiste">
            {% for element in artiste %}
            <a href="artiste.php?id={{ element.id_artiste }}">
                <article class="liste-album ">
                    <img src="{{ element.artiste_photo }}" alt="{{ element.artiste_alt }}">
                    <div>
                        <p>{{ element.artiste_nom }}</p>
                    </div>
                </article>
            </a>
            {% endfor %}
        </div>
    </section>
{% endblock %}